/autom4te.cache/*
/build/*
/m4/*

**/*.o
**/*.lo
**/*.la
/Makefile
src/Makefile
test/Makefile
**/Makefile.in
**/.deps/*
**/.libs/*
**/*.log
src/version.h
test/*.trs

aclocal.m4
config.h
config.h.in
config.status
configure
libtool
stamp-h1
